<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/icon.png">
    <title>404-HTTP Error</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <P>Oops!!! Sorry {{ errorMessage }} not found</P>
    </div>
    {{>footer}}
</body>



</html>